/* css for background */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevents overflow of user messsage */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  background: #6ab3dd;
  background-image: url(../img/background2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* // Style your Repository List
//  Open your index.css file
//  Add styling to your projects list, be sure to account for any changes you want in media queries
//  STRETCH GOAL: Use flexbox (or grid) to style your list of repositories
// By the end of this assignment, you should have a working API fetch to your GitHub account and be able to see a list of your repository names in the Projects section of your portfolio.  Were there to be a server error during the API fetch, your site would return an error message.  Your project list should be styled using flexbos or grid. */

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: #2a2a2a;
}

.copyright {
  color: #e1702a;
  font-size: 1rem;
  font-weight: bolder;
}

/* Header styling */
.nav_headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  padding: 1em;
  font-size: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.5rem #414141;
}

/* adding animation to headers */

.nav_headers a {
  color: #a1562d;
  text-decoration: none;
}

.nav_headers a:hover {
  background-color: #ddd;
  color: black;
}

/* End of Nav styling*/

/* Starting to style the about section*/

.icon {
  text-align: center;
  margin-bottom: 1.5em;
}

.iconhead {
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  border: 3px solid #a1562d;
}

.icon a:hover {
  opacity: 0.6;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  overflow: hidden;
  transition: transform 5s ease;
  transform: scale(1.5);
}

#about {
  background-color: #ffffff;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
}

/* End of styling for about section */

/* The following is the start of exeperience styling for different sections of my website*/

#experience {
  background-color: #cac1e5;
  margin: 1em;
  color: #000;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
}

.job {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.job_details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1rem;
}

.job_details span {
  padding-bottom: 0.5em;
}

.job_date {
  align-self: flex-start;
  font-size: 1rem;
  text-align: right;
  margin-left: auto;
  padding: 10px;
}

.job_desc ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
}

.job_desc li {
  margin-bottom: 5px;
}

#connect {
  background-color: #ffffff;
  color: #000;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
}

#connect ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#connect li {
  margin: 0 15px;
}

#connect img {
  width: 50%;
  height: auto;
}

/* start of skill styling*/

#skills {
  background-color: #cac1e5;
  color: #000000;
  font-size: 1rem;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
}

/* End of skill styling*/

#projects {
  background-color: #ffffff;
  color: #000;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
}

#projects ul li {
  list-style: none;
  text-decoration: none;
}
/* start of formatting for our form section.  */

#formSection {
  background-color: #cac1e5;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
  color: #000;
}

#messages {
  background-color: #ffffff;
  color: #000;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 85%;
  box-shadow: 0 0.5rem 1.5rem #000000;
}

.messageBoard {
  list-style: none;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}

label,
input,
textarea {
  display: block;
  width: 40%;
  margin-bottom: 0.02em;
}

/* prevents our text box from being oversized by user  */

textarea {
  resize: vertical;
  max-height: 10rem;
}

.bottomFooter {
  text-align: center;
  font-size: 0.9rem;
}

/* Media query for mobile phones */

@media screen and (max-width: 600px) {
  .container {
    color: #1a4e99;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem;
  }

  #connect img {
    width: 80%;
    height: auto;
    border-radius: 10%;
  }

  .job {
    display: flex;
    flex-direction: column;
  }

  .job_details {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  .job_date {
    align-self: flex-start;
    font-size: 1rem;
    text-align: right;
  }
}

#skills {
  font-size: 1rem;
  font-weight: bolder;
}

/* start of formatting for our form section.  */

#formSection {
  color: #000;
}

#messages {
  color: #000;
}

.messageBoard {
  list-style: none;
  text-align: left;
  font-weight: 300;
  font-size: 0.8rem;
}

label,
input,
textarea {
  width: 65%;
  margin-bottom: 0.5em;
}

/* end of mobile phone query */

/* Media query for tablets */

@media screen and (min-width: 600px) and (max-width: 780px) {
  .container {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2rem;
  }

  #connect img {
    width: 80%;
    height: auto;
    border-radius: 10%;
  }

  .job {
    display: flex;
    flex-direction: column;
  }

  .job_details {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .job_date {
    align-self: flex-start;
    font-size: 1.2rem;
    text-align: right;
    margin-left: auto;
  }

  .nav_headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    background-color: #ffffff;
  }

  #skills {
    font-size: 1.2rem;
    font-weight: bolder;
  }
}

label,
input,
textarea {
  width: 50%;
  margin-bottom: 0.5em;
}

/* start of formatting for our form section.  */

#formSection {
  color: #000;
}

#messages {
  color: #000;
}

.messageBoard {
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
}

/* end of styling for tablet */
